<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.core.mapper.PandaCodeMapper">

    <sql id="tableName">
        panda_code
    </sql>

    <update id="increase" >
        update
        <include refid="tableName"/>
        set
        code_value = #{codeValue} + 1
        where id = #{id} and code_value = #{codeValue}
    </update>

</mapper>
